.logo {
  height: 13vh;
}

.jumbotron {
  background-image: url("./jumbotron.jpg");
  background-size: cover;
  height: 600px;
  color: #fff;
}

section {
  margin-top: 5%;
}

.paypal {
  margin-left: 12%;
}

#contact {
  background-color: #f8f9fa;
  padding-bottom: 5%;
}

#facebook, #instagram {
  height: 50px;
}

ul.no-bullet {
  list-style-type: none;
}